<div ng-app="hevApp">
	<h2>Segment Clade Trees</h2>
	<div ng-repeat="almtName in ['AL_S1_MASTER','AL_S2_MASTER','AL_S3_MASTER','AL_S4_MASTER','AL_S5_MASTER','AL_S6_MASTER','AL_S7_MASTER','AL_S8_MASTER','AL_S9_MASTER','AL_S10_MASTER']">
		<treecontrol class="tree-light"
		   tree-model="almtNameToDescendentTree[almtName]"
		   expanded-nodes="almtNameToExpandedNodes[almtName]"
		   options="almtNameToTreeOptions[almtName]">
		   <a href="./#/project/alignment/{{node.alignmentName}}">{{node.alignmentRenderedName}}</a> 
		</treecontrol>
	</div>
	
</div>