<div ng-show="renderResult" ng-app="projectBrowser">
	<h2>Sequence {{renderResult.sequence.sequenceID}}</h2>
	<p>
		<div ng-repeat="reference in renderResult.sequence.referenceSequence track by $index">
			Basis of reference sequence: 
			<a href="#project/reference/{{reference.name}}">
				{{reference.renderedName}}
			</a>
		</div>
	</p>
	  <div class="row">
	    <div class="col-md-6">
			<h4>Sequence details</h4>	
			<table class="table table-striped table-bordered">
				<thead>
					<col width="50%"/>
					<col width="50%"/>
				</thead>
				<tr>
					<td><b>NCBI Nucleotide DB Entry</b></td><td><a target="_blank" href="https://www.ncbi.nlm.nih.gov/nuccore/{{renderResult.sequence.sequenceID}}">{{renderResult.sequence.sequenceID}}  <i class="glyphicon glyphicon-link"></i></a></td>
				</tr>
				<tr>
					<td><b>Creation Date</b></td><td>{{renderResult.sequence.creationDate}}</td>
				</tr>
				<tr>
					<td><b>Sequence Length</b></td><td>{{renderResult.sequence.length}}</td>
				</tr>
				<tr>
					<td><b>BTV Segment</b></td><td>{{handleNull(renderResult.sequence.segment)}}</td>
				</tr>
				<tr ng-show="renderResult.sequence.segment == 6 || renderResult.sequence.segment == 2">
					<td><b>BTV Serotype</b></td><td>{{handleNull(renderResult.sequence.serotype)}}</td>
				</tr>
				<tr ng-repeat="alignment in renderResult.sequence.alignmentMembership track by $index" ng-show="alignment.constrainingReference">
					<td><b>Clade membership</b></td>
					<td><a href="#project/alignment/{{alignment.name}}">{{alignment.renderedName}}</a></td>
				</tr>
			</table>
			
			<div ng-show="renderResult.sequence.referenceText">
			<h4>Reference</h4>
			<a ng-show="renderResult.sequence.referenceUrl" href="{{renderResult.sequence.referenceUrl}}" target="_blank">
				{{renderResult.sequence.referenceText}}  <i class="glyphicon glyphicon-link"></i>
			</a>
			<div ng-show="renderResult.sequence.referenceUrl == null">				
				{{renderResult.sequence.referenceText}}
			</div>
			</div>
		</tr>
	</table>	
			
			
			
	    </div>
	    <div class="col-md-6">
			<h4>Sample details</h4>
			<table class="table table-striped table-bordered">
				<thead>
					<col width="50%"/>
					<col width="50%"/>
				</thead>
				<tr>
					<td><b>Isolate ID</b></td><td>{{handleNull(renderResult.sequence.isolate)}}</td>
				</tr>
				<tr>
					<td><b>Country of Origin</b></td><td>{{handleNull(renderResult.sequence.country)}}</td>
				</tr>
				<tr>
					<td><b>Place Sampled</b></td><td>{{handleNull(renderResult.sequence.placeSampled)}}</td>
				</tr>
				<tr>
					<td><b>Collection Year</b></td><td>{{handleNull(renderResult.sequence.collectionYear)}}</td>
				</tr>
				<tr>
					<td><b>Sample Type</b></td><td>{{handleNull(renderResult.sequence.sampleType)}}</td>
				</tr>
				<tr>
					<td><b>Tissue Sampled</b></td><td>{{handleNull(renderResult.sequence.tissueSampled)}}</td>
				</tr>
				<tr>
					<td><b>Passage Cells</b></td><td>{{handleNull(renderResult.sequence.passageCells)}}</td>
				</tr>
				<tr>
					<td><b>Passage History</b></td><td>{{handleNull(renderResult.sequence.passageHistory)}}</td>
				</tr>
			</table>	
	    </div>
	</div>
	
	
	
</div>